{% extends "base.html" %}

{% block title %}Welcome - Mood Mate{% endblock %}

{% block content %}
  <header>
    <img alt="logo" src="{{ url_for('static', filename='logo.jpg') }}" class="logo">
  </header>

    <h2 class="welcome">Welcome here!</h2>
    <br>

    <p><i>Please write a username and password down below to continue</i></p>
    {% if error %}
        <p class="text-danger" role="alert">{{ error }}</p>
    {% endif %}

    <form action="/" method="post" >
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>

        <button type="submit" class="btn btn-dark">Go!</button>

    </form> <br>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>

{% endblock %}

